body {
    font-family: 'Roboto', sans-serif;
    color: $mainGrey;
    overflow: hidden;
}

img {
    max-width: 100%;
    height: auto;
}

* {
    box-sizing: border-box;
}

a {
    color: $mainOrange;
}